<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="CucumberSuite" parallel="false">
    <test name="1-SetupTicketFields">
        <classes>
            <class name="d365.TicketFieldsRunner"/>
        </classes>
    </test>
    <test name="2-RunTicketCreation">
        <classes>
            <class name="d365.TicketCreationRunner"/>
        </classes>
    </test>
    <test name="3-SendEmailReport">
        <classes>
            <class name="d365.SendEmailReportSuite"/>
        </classes>
    </test>
</suite>
